<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Index.ConnectionString" value=".\indexstorebackingfile.xml"/>
    <add key="Entity.ConnectionString" value=".\entitystorebackingfile.xml"/>
    <add key="Testing.HttpHeaderClaimOverrides" value="false"/>
    <add key="AppNexus.IsApp" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
