<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Emulator/test configuration -->
    <add key="AzureEmulatorExe" value="C:\Program Files\Microsoft SDKs\Windows Azure\Emulator\csrun.exe"/>
    <add key="CsxPath" value="$(SolutionDir)..\Azure\Azure\csx\$(Configuration)"/>
    <add key="CscfgPath" value="$(SolutionDir)..\Azure\Azure\bin\$(Configuration)\app.publish\ServiceConfiguration.$(TargetProfile).cscfg"/>
    <add key="TestUserNamedIdentifier" value="$(DefaultUserId)"/>

    <!-- Worker Role RuntimeIoc settings -->
    <add key="Logging.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Index.ConnectionString" value="$(AzureSqlConnectionString)"/>
    <add key="Entity.ConnectionString" value="$(AzureConnectionString)"/>
    <add key="Logging.BlobContainer" value="quotalogs"/>
    <add key="Logging.MaximumSizeInMegabytes" value="1024"/>
    <add key="Logging.RootPath" value="."/>
    <add key="Logging.ScheduledTransferPeriodMinutes" value="5"/>
    <add key="Logging.MailAlerts" value="true"/>
    <add key="Queue.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="Queue.WorkItemStoreName" value="workitems"/>
    <add key="AppNexus.Endpoint" value="$(AppNexusEndpoint)"/>
    <add key="AppNexus.Timeout" value="00:00:01"/>
    <add key="AppNexus.Username" value="$(AppNexusUsername)"/>
    <add key="AppNexus.Password" value="$(AppNexusPassword)"/>
    <add key="AppNexus.MaxReportRequests" value="5"/>
    <add key="GoogleDfp.MaxReportRequests" value="10"/>
    <add key="DynamicAllocation.UpdateBudgetAllocationsSchedule" value="00:00:01"/>
    <add key="Delivery.RetrieveCampaignReportsSchedule" value="00:00:01"/>
    <add key="Delivery.UpdateCreativeStatusSchedule" value="00:00:01"/>
    <add key="Delivery.ExportDACampaignsSchedule" value="00:00:01"/>
    <add key="Delivery.CleanupCampaignsSchedule" value="00:00:01"/>
    <add key="Delivery.ExportCreativesSchedule" value="00:00:01"/>
    <add key="PersistentDictionary.DefaultType" value="Sql"/>
    <add key="Dictionary.Sql.ConnectionString" value="$(AzureSqlDictionaryConnectionString)"/>
    <add key="Dictionary.Blob.ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="QueueProcessor.Categories" value="0,1,2,3"/>
    <add key="PaymentProcessor.ApiSecretKey" value="$(PaymentProcessorApiSecretKey)"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
