<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <trace enabled="true" localOnly="false" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="None" />
  </system.web>
  <appSettings />
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />

    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!-- per http://forums.iis.net/t/1166025.aspx, need this to allow PUT -->
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Redirects requests from the DHTMLX tree/grid controls to the xml data service -->
        <rule name="dhtmlxgrid paginated xml data">
          <match url="^xdata/([a-zA-Z]+)\.(xml|js)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="posStart=(\d+)" />
            <add input="##{C:1}##_{QUERY_STRING}" pattern="##([^#]+)##_.*count=(\d+)" />
          </conditions>
          <action type="Rewrite"
                  redirectType="Permanent"
                  url="data/{R:1}.{R:2}?offset={C:1}&amp;count={C:2}"
                  appendQueryString="True" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="ApiLayer.EntityService" behaviorConfiguration="RestApiBehaviour">
        <endpoint binding="webHttpBinding" contract="ApiLayer.EntityService" />
      </service>
      <service name="ApiLayer.DataService" behaviorConfiguration="RestApiBehaviour">
        <endpoint binding="webHttpBinding" contract="ApiLayer.DataService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestApiBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpsGetEnabled="true"
                           httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="524288"
                 maxBufferSize="524288">
          <security mode="Transport" />
          <readerQuotas maxStringContentLength="524288"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>